<!DOCTYPE html>
<html lang="en">

<head>
         <%- include ('components/head') %>
         <%- include ('components/navbar') %>
        <title>DKS Store</title>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title>DKS Store</title>
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initisl-scale=1">
                <link rel="stylesheet" href="style.css">
</head>
<body>
<!--  
            <h3>Selamat datang di DKS Store </h3>
            <p>Disini kalian bisa belanja skincare sesuai kebutuhan kulit kalian</p> -->
            <!-- <p> ID Barang : <%= sp52.id %>
            </p>
            <p>Nama Barang : <%= sp52.nama %>
            </p>
            <p>Jenis Barang : <%= sp52.jenis %>
            </p> -->
    <%- include ('components/home') %>
    <%- include ('components/footer') %>
    </body>
</html>